            <div class="footer-wrapper">
                <footer class="site-footer" role="contentinfo">
                    <div class="site-info container">
                        <nav class="footer-navigation" role="navigation">
                            <div class="menu-footer-menu-container">
                                <ul id="footer-menu" class="menu">
                                    {% includes menu-footer.html %}
                                </ul>
                            </div>
                        </nav>
                        <div class="site-copyright"><a href="/">🕹️ Soapbox Race World</a></div>
                    </div>
                </footer>
            </div>