<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66129708-3"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66129708-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-66129708-3');
</script>
        <link rel="apple-touch-icon" sizes="180x180" href="https://i2-sbrw.davidcarbon.download/assets/images/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="https://i2-sbrw.davidcarbon.download/assets/images/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="https://i2-sbrw.davidcarbon.download/assets/images/favicons/favicon-16x16.png" />
        <link rel="manifest" href="https://i2-sbrw.davidcarbon.download/assets/images/favicons/site.webmanifest" />
        <link rel="mask-icon" href="https://i2-sbrw.davidcarbon.download/assets/images/favicons/safari-pinned-tab.svg" color="#767676" />
        <link rel="shortcut icon" href="https://i2-sbrw.davidcarbon.download/assets/images/favicons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="msapplication-TileImage" content="https://i2-sbrw.davidcarbon.download/assets/images/favicons/mstile-144x144.png" />
        <meta name="msapplication-config" content="https://i2-sbrw.davidcarbon.download/assets/images/favicons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Home - Soapbox Race World" />
        <meta property="og:description" content="Unoffical Site - From Need For Speed: World Offline to a rewrite of GameLauncher taken from Need For Speed: World. Soapbox Race World" />
        <meta property="og:url" content="https://sbrw.davidcarbon.download/" />
        <meta property="og:site_name" content="Soapbox Race World" />
        <meta property="article:modified_time" content="2020-10-12T19:44:16+00:00" />
        <meta name="twitter:card" content="summary_large_image" />
        <link rel="dns-prefetch" href="//a-sbrw.davidcarbon.download" />
        <link rel="stylesheet" href="//a-sbrw.davidcarbon.download/fonts/Open%20Sans/css.css" type="text/css" media="all" />
        <link rel="stylesheet" href="//a-sbrw.davidcarbon.download/fonts/Josefin%20Sans/css.css" type="text/css" media="all" />


        <link rel="shortlink" href="https://sbrw.davidcarbon.download/" />
        <noscript>
            <style type="text/css">
                #wptime-plugin-preloader {
                    display: none !important;
                }
            </style>
        </noscript>
        <link rel="stylesheet" href="https://sbrw.davidcarbon.download/assets/cache/wph/b3f7ce5f_3dde2f7c605e5e387693c5bd8e132d28.css" media="all" />
        <script type="text/javascript" src="https://sbrw.davidcarbon.download/assets/cache/wph/b3f7ce5f_6c3d859b8e0cc770726d3c8c9e65300e.js" defer></script>
</head>
