<nav id="mainnav" class="main-navigation col-md-8 col-sm-6 col-xs-12" role="navigation">
    <div class="menu-main-menu-container">
        <ul id="primary-menu" class="menu">
            <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-40"><a href="/" aria-current="page">Home</a></li>
            <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-41"><a href="#">Community</a>
                <ul class="sub-menu">
                    <li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a href="#">Discords</a></li>
                </ul>
            </li>
        </ul>
    </div>			
</nav><!-- #site-navigation -->