<div class="btn-menu col-md-8 col-sm-6 col-xs-12">
    <i class="fas fa-bars"></i>
</div>
<nav id="mainnav" class="main-navigation col-md-8 col-sm-6 col-xs-12" role="navigation">
    <div class="menu-main-menu-container">
        <ul id="primary-menu" class="menu">
            <li id="menu-item-01" class="menu-item menu-item-object-page menu-item-01"><a href="/">Home</a></li>
            <li id="menu-item-02" class="menu-item menu-item-object-page menu-item-has-children menu-item-02"><a href="#">Community</a>
                <ul class="sub-menu">
                    <li id="menu-item-03" class="menu-item menu-item-object-page menu-item-03"><a href="#">Discords</a></li>
                </ul>
            </li>
        </ul>
    </div>			
</nav><!-- #site-navigation -->