<a class="footer-contact-block" href="https://github.com/SoapboxRaceWorld" target="_blank">
    <i class="fab fa-github"></i>
    <span>GitHub</span>
</a>
<a class="footer-contact-block" href="https://facebook.com/SoapboxRaceWorld" target="_blank">
    <i class="fab fa-facebook"></i>
      <span>Facebook</span>
</a>
<a class="footer-contact-block" href="https://twitter.com/sbrw_project" target="_blank">
    <i class="fab fa-twitter"></i>
    <span>Twitter</span>
</a>
<a class="footer-contact-block" href="https://discord.gg/TUsXvVp" target="_blank">
    <i class="fab fa-discord"></i>
    <span>Discord</span>
</a>